@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

.Poppins {
  font-family: "Poppins", sans-serif;
}

.Roboto {
  font-family: "Roboto", sans-serif;
}

* {
  font-family: "Nunito", sans-serif;
}

.Nunito-Sans {
  font-family: "Nunito Sans", sans-serif;
}

.Inter {
  font-family: "Inter", sans-serif;
}


@theme {
  /* colors */
  --color-prime-1: #ec6112;
  --color-prime-2: #ff902e;
  --color-black: #010101;
  --color-whitey: #e0e0e0;
  --color-blc: #111;
   --color-dark:#000000;
--color-ultra:#E8601a;



   --color-white-gray: #f3f4f6;
  --color-whity: #fefefe;
  --color-text-gray: #c1c1c1;
  --color-gray-footer: #575757;
  --color-placeholder: #bbb;
  --color-famous-bg: #f9fafb;
  --color-offer-time: #e9e9e9;
  --color-para: #e8e8e8;
  --color-species-heading: #555;
  --color-body-text: #4d4d4d;
  --color-payment-border: #e7e7e7;


  /* text-size */
  --text-custom-xl: 22px;
  --text-custom-2xl: 28px;
  --text-custom-3xl: 34px;
  --text-40: 40px;
  --text-custom-4xl: 42px;
  --text-custom-5xl: 50px;

  /* line-height */
  --leading-100: 100%;
  --leading-110: 110%;
  --leading-120: 120%;
  --leading-130: 130%;
  --leading-140: 140%;
  --leading-150: 150%;
  --leading-160: 160%;



}